* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html { 
    background: url(burger-friends.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header {
    padding: 10px;
    background: teal;
    display: flex;
    justify-content: space-between;
}
button {
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 110px;
}
.column {
    width: 400px;
    height: 400px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 50px;
    display: block;
    margin-left: 140px;
    background: rgb(255, 255, 255, 0.8);

}
.responsive-two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 130px;
}
#lookingFor {
    margin-top: 50px;
    margin-left: 40px;
}
#letsCookBtn {
    background-color: teal;
    width: 150px;
}

/* @media screen and (min-width: 500px) {
    .header {
      float: none;
      display: block;
      text-align: left;
    }
    .responsive-two-column-grid {
        display: block;
    }
  } */
